$core-primary: #0062EE !default;
$core-primary-var: #0037B3 !default;

$core-secondary: #03DAC6 !default;
$core-secondary-var: #018786 !default;

$core-background: #FFFFFF !default;
$core-surface: #FFFFFF !default;

$core-success: #03DAC6 !default;
$core-success-var: #018786 !default;

$core-error: #C51162 !default;

$core-on-primary: #FFFFFF !default;
$core-on-secondary: #000000 !default;

$core-on-background: #000000 !default;
$core-on-surface: #000000 !default;
$core-on-error: #FFFFFF !default;

$core-hover-opacity: 0.04;
$core-focus-opacity: 0.12;
$core-pressed-overlay: 0.16;

// Not fully integrated

$font-primary: #000000de;
$font-secondary: #00000099;
$divider: #00000022;

$radius: 4px;

$shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$hover-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
$intense-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.23);